:root {
    --main-bg-color: #F5F5F5;
    --bg-color: #2F303A;
    --text-color: #212121;
    --text-color-general: #ffffff;
    --hover-color: #2196F3;
    --contact-color: #757575;
    --logo-font: "Raleway", sans-serif;
    --general-font: "Roboto", sans-serif;
    --active-botton: #188CE8;
    

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

body {
    font-family: var(--general-font);
    color: var(--text-color);
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

p {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

img {
    display: block;
}
      
.fon {
    background-color: #FFFFFF;
}

.container {
    width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.logo {
    margin-right: 93px;

    color: #000000;
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.web {
    color: #2196F3  
}

.header-container {
    display: flex;
    align-items: center;
}

.header-container-line {
    border: 1px solid #ECECEC;
}

.link-header {
   padding: 0;
   margin-top: 0;
   margin-bottom: 0;
}

.link-nav-header {
    margin-top: 32px;
    margin-bottom: 32px;
}

.link-nav-header:not(:last-child) {
    margin-right: 50px;
}

.link-nav {
    padding: 32px 0;

    font-family: var(--general-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.link-nav:focus,
.link-nav:hover {
    cursor: pointer;
    color: var(--hover-color);
}

.header-contact {
    margin-left: auto;
}

.contact {
 color: var(--contact-color);
 font-family: var(--general-font);
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
}

.contact:hover,
.contact:focus {
    color: var(--hover-color);
}

.contact-mail {
    margin-right: 40px;
}

.main-section {
    text-align: center;
}

.main-block {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--bg-color);
}

.general-title {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 30px;
    max-width: 696px;

    text-transform: uppercase;
    font-family: var(--general-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--text-color-general);
}

.bt-order {
    align-items: center;
    min-width: 216px;
    padding: 10px 32px;

    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    background-color: var(--hover-color);
    font-family: var(--general-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--text-color-general);
}

.bt-order:hover,
.bt-order:focus {
    background-color: var(--active-botton);
}

.section-feature-main {
    padding-top: 94px;  
    padding-bottom: 94px;  
}

.Feature {
    display: flex;
    padding: 0;
    margin: 0;
}

.feature-main {
    max-width: 270px;
}

.feature-main:not(:last-child) {
    margin-right: 30px;
}

.perevagy-img {
    margin-bottom: 30px;
}

.perevagy {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;

    text-transform: uppercase;
    font-family: var(--general-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color);
}

.perevagy-info {
    margin: 0;
    padding: 0;

    font-family: var(--general-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contact-color);
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.title-block {
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;

    font-family: var(--general-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.work-us-main {
    padding-bottom: 94px;
}


.work-us {
    display: flex;
}

.work-img {
    margin: 0;
    padding: 0;
    margin-right: 30px;
}

.fon-people {
    margin-right: 30px;
    background-color: var(--text-color-general);
}

.family {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-people {
    display: flex;
    margin: 0;
    padding: 0;
}

.people-name {
    margin-bottom: 10px;
    text-align: center;

    font-family: var(--general-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.people-work {
    text-align: center;
    
    font-family: var(--general-font);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--contact-color);
}

.our-clients {
    display: flex;
    margin: 0;
    padding: 0;
}

.clients {
    margin-right: 30px;
}

.logo-footer {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-color-general);
}

.fon-footer {
    padding-top: 60px;
    background-color: var(--bg-color);
}

.contacts {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    padding-bottom: 9px;
}

.map-link {
    padding-bottom: 9px;

    font-family: var(--general-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color-general);
}

.contact-footer {
    padding-bottom: 9px;

    font-family: var(--general-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.go-us {
    font-family: var(--general-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color-general);
}


.filter-price {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    padding-top: 94px;
}

.filter { 
    border: none;
    text-align: center;
    padding: 6px 22px;
    margin-right: 8px;

    font-family: var(--general-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.filter:hover,
.filter:focus {
    cursor: pointer;
    font-family: var(--general-font);
    background-color: var(--hover-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color-general);
}

.our-work {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.our-work-list {
    margin-bottom: 30px;
}

.gorup-work {
    margin: 0;
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.work-name {
    margin: 0;
    margin-bottom: 4px;

    font-family: var(--general-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-color);
}

.category {
    margin: 0;
    margin-bottom: 4px;
    
    font-family: var(--general-font);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--contact-color);
}

